.manage-button {
  border: none;
  color: #000000;
  padding: 10px;
  border-radius: 50px;
}

.manage-button:hover {
  color: #ffffff;
  background-color: #fa6a2f;
}

.delete-button {
  border: none;
  color: #000000;
  padding: 10px;
  border-radius: 50px;
}

.delete-button:hover {
  color: #ffffff;
  background-color: #F32424;
}