.blogs {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0 10%;
}

.blogs h2 {
  text-align: center;
}

.blogs h4 {
  text-align: justify;
  margin-top: 30px;
  font-weight: 500;
}

.blogs p {
  text-align: justify;
  font-weight: 400;
}

.blogs table {
  border-collapse: collapse;
}

.blogs td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 5px;
}

.blogs th {
  text-align: center;
}