.blogs h4 {
  text-align: justify;
}

.blogs p {
  text-align: justify;
}

.blogs table {
  border-collapse: collapse;
}

.blogs td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 5px;
}

.blogs th {
  text-align: center;
}