.slider {
  overflow: hidden;
}

.slider h2 {
  padding-top: 50px;
  margin-bottom: 20px;
}

/*-------------------------------------------------------------*/
            /* MEDIA QUERIES FOR MOBILE DEVICES */
/*-------------------------------------------------------------*/

@media (max-width:800px) {
  .slider img {
    display: block;
    margin: auto;
    width: 190%;
  }
}