.footer {
  background: #333333;
  padding: 20px;
}

.footer h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.footer p {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font: 14px;
  color: #ffffff;
  text-align: center;
}

.social-icon {
  text-align: center;
  font-size: 30px;
}

.social-icon a {
  text-decoration: none;
  color: #FFFFFF;
}